{% extends "base.html" %}

{% block content %}

    <h1>Dashboard</h1>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Unit</th>
                <th>Unit Price</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <form method="post" action="{{ url_for('sell_product', product_name=item.name) }}">
                    <td>{{ loop.index }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.unit }}</td>
                    <td>{{ item.unit_price }}</td>
                    <td>
                        <input type="hidden" name="quantity" value="1">
                        <button type="submit">Sell product</button>
                    </td>
                </form>
            </tr>
            {% endfor %}
            <tr>
                <form method="post" action="{{ url_for('product_list') }}">
                    <td>{{ form.csfr_token }}</td>
                    <td>{{ form.name }}</td>
                    <td>{{ form.quantity }}</td>
                    <td>{{ form.unit }}</td>
                    <td>{{ form.unit_price }}</td>
                    <td><button type="submit">Add Product</button></td>
                </form>
            </tr>
        </tbody>
    </table>
    <p>{{ product_name }}</p>

{% endblock %}